<!DOCTYPE html>
<html>
  <head>
    <%- include('common-head', {}) %>
    <title>List all advertisements</title>
    <%- include('common-styles', {}) %>
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <%- include('navbar', {}) %>
    <div class="container">
      
      <section class="advertisements-list loading">
        <div class="ui-status empty">
            There is no advertisements
        </div>
        <div class="ui-status error">
            Oops... This is embarasing, there has been an error
        </div>
        <div class="ui-status loading">
            Loading...
        </div>
        <div class="ui-status ideal"></div>
      </section>
      
    </div>
    
    <%- include('common-js', {}) %>
  </body>
</html>
