<!DOCTYPE html>
<html>
  <head>
    <%- include('common-head', {}) %>
    <title>List all advertisements</title>
    <%- include('common-styles', {}) %>
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <%- include('navbar', {}) %>
    <div class="container">
      
      <section class="advertisements-form">
        <h4>Find your articles!</h4>
        <div class="row">
          <form action="" novalidate="novalidate">
          
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="e.g. Bici">
              </div>
              
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="minPrice">Min Price</label>
                <input type="number" class="form-control" id="minPrice" name="minPrice" placeholder="e.g. 230">
              </div>

              <div class="form-group">
                <label for="maxPrice">Max Price</label>
                <input type="number" class="form-control" id="maxPrice" name="maxPrice" placeholder="e.g. 700">
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="tags-list">
                <div class="ui-status empty">
                    There is no tags
                </div>
                <div class="ui-status error">
                    Oops... This is embarasing, there has been an error
                </div>
                <div class="ui-status loading">
                    Loading...
                </div>
                <div class="ui-status ideal"></div>
              </div>

            </div>
            <div class="col-sm-12 col-md-6">
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="isSale" checked> On Sale!
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="isWanted" checked> Wanted!
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <button type="submit" class="btn btn-default" id="search2">Search</button>
            </div>
          </form>
        </div>
      </section>
      <section class="advertisements-list loading">
        <div class="ui-status empty">
            There is no advertisements
        </div>
        <div class="ui-status error">
            Oops... This is embarasing, there has been an error
        </div>
        <div class="ui-status loading">
            Loading...
        </div>
        <div class="ui-status ideal"></div>
      </section>
      
    </div>
    
    <%- include('common-js', {}) %>
  </body>
</html>
